  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: cursive;
  }

  body {
    color: rgb(85, 252, 85);
    animation: rag 9s linear infinite;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;
  }

  .header-list {
    color: greenyellow;
    font-size: 25px;
    font-family: cursive;
    justify-content: space-around;
    margin: 20px;
  }


  header {
    color: green;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }

  section {
    padding: 100px 20px;
  }

  .p-ichidagi-sozlar {
    color: rgb(85, 252, 85);
  }

  .hero {
    text-align: start;
    position: relative;
    /* margin-bottom: 500px; */
    height: 300px;
    display: flex;
    justify-content: center;
    text-align: end;
    margin-top: 40px;
  }

  .hero-h1 {
    font-size: 40px;
    animation: harakat 3s infinite linear;
  }

  .hero-h2 {
    font-size: 24px;
    color: rgb(85, 252, 85);
    margin-bottom: 15px;
    animation: harakat 3s infinite linear;
  }

  .hero-p {
    max-width: 500px;
    line-height: 1.5;
    animation: harakat 3s infinite linear;
  }


  @keyframes harakat {
    0% {
      color: rgb(85, 252, 85);
    }

    50% {
      color: rgb(85, 252, 85);
    }

    100% {
      color: rgb(85, 252, 85);
    }
  }

  .hero-3,
  .her,
  .coverflow {
    padding: 80px 20px;

  }

  .hero {
    justify-content: start;
    left: 30%;
    display: flex;
    padding: 400px;
  }

  .btn-klopka,
  .btn-knopka {
    transition: 0.3s;
    color: rgb(85, 252, 85);
  }

  .btn-klopka:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #00aaff;
  }

  .btn-knopka:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px white;
  }

  .btn-knopka {
    background: white;
    color: rgb(85, 252, 85);
  }

  .btn-klopka {
    color: rgb(85, 252, 85);
  }


  .Portfollio {
    right: 0%;
    width: 250px;
    border-radius: 50%;
    margin: 20px;
  }




  .card {
    background-color: rgba(85, 226, 132, 0.153);
    width: 250px;
    height: auto;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    border-color: rgb(74, 236, 85);
    font-size: 25px;
  }


  /* .hero-3 {
    text-align: center;
    perspective: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  } */

  .card1:hover .imgs {
    transform: scale(1.1);
  }

  .card1:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  }

  .fot {
    text-align: center;
    padding: 20px;
  }

  */

  /* .slider {
    padding: 100px;
    overflow: hidden;
    background: black;
  }

  .slide-track {
    height: 50vh;
    display: flex;
    width: calc(200px * 8); 
    animation: scroll 10s linear infinite;
  }

  .slide {
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);
    width: 100%;
    height: 200px;
    margin: 10px;
    background: gold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    gap: 30px;
  } */
  .imgs {
    position: absolute;
    width: 30%;
    object-fit: cover;
    display: block;
  }

  .coverflow {
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    display: flex;
    gap: 20px;
    perspective: 1000px;
  }

  .card2 {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    transition: 0.4s;
  }

  .card2:hover {
    transform: scale(1.2);
    z-index: 10;
  }

  .coverflow:hover .card2 {
    transform: rotateY(40deg);
  }

  .family {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    animation: glow 2s infinite alternate;

  }

  .netli {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 30%;
    left: 15%;
  }

  .ran {
    animation: ran 3s linear infinite;
    position: absolute;
    left: -20%;
    top: 40%;
  }

  @keyframes ran {
    0% {
      color: cyan;
    }

    50% {
      color: rgb(141, 250, 101);
    }

    100% {
      color: cyan;
    }
  }

  span {
    left: 0%;
    top: auto;
  }


  @keyframes glow {
    from {
      text-shadow: 0 0 10px #22ffcc;
    }

    to {
      text-shadow: 0 0 25px #22ffcc, 0 0 40px #22ffcc;
    }
  }

  .coverflow .card2:hover {
    transform: scale(1.2) rotateY(0);
  }

  .her {
    text-align: center;
    padding: 80px 20px;
  }

  .img-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 900px;
    margin: auto;
  }

  .img-grid div {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    width: 300px;
  }

  .img-grid img {
    width: 300px;
    height: 220px;
    object-fit: cover;
    display: block;
    transition: 0.3s;
  }

  .img-grid div:hover img {
    transform: scale(1.1);
  }

  .butto {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    padding: 10px 15px;
    border: none;
    background: black;
    color: rgb(85, 252, 85);
    transition: 0.3s;
  }

  .img-grid div:hover .butto {
    opacity: 1;
    transform: translateX(-50%) scale(1.05);
  }

  /* .neon-text {
  color: rgb(85, 252, 85) ;
  text-align: center;
    text-shadow: 0 0 5px #0ff, 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
  } */

  .coverflow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 20px;
    perspective: 900px;
  }

  .card2 {
    width: 180px;
    height: 240px;
    transition: 0.5s;
  }

  .card2 {
    width: 300px;
    height: 300px;
    border-radius: 15px;
  }

  .img {
    width: 300px;
    height: 300px;
    border-radius: 15px;
  }

  .center {
    transform: scale(1.3);
  }
  .gallery .right{
    margin-left: 10px;
  }


  .left {
    transform: rotateY(40deg) scale(0.9);
  }

  .left2 {
    transform: rotateY(25deg) scale(1);
  }


  .right {
    transform: rotateY(-40deg) scale(0.9);
  }

  .right2 {
    transform: rotateY(-25deg) scale(1);
  }


  .card2:hover {
    transform: scale(1.4);
    z-index: 10;
  }

  .img-grid img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.1);
  }


  .img-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }

  .img-grid img {
    transition: 0.2s;
  }



  .card {
    width: 45%;
    height: 200px;
    perspective: 1000px;
  }

  .inner {
    width: 100%;
    height: 100%;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }

  .card:hover .inner {
    transform: rotateY(180deg);
  }

  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
  }

  .front img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }

  .back {
    background: cyan;
    color: rgb(85, 252, 85);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg);
  }

  .card:hover {
    box-shadow: 0 0 20px rgba(84, 231, 96, 0.455);
  }

  .text {
    text-shadow: 0 0 10px cyan, 0 0 20px cyan;
  }

  .em {
    border: none;
    text-align: center;
  }

  .flex-grow {
    display: flex;
    flex-grow: 5;
    color: rgb(85, 252, 85);
    height: 20px;
  }

  .flex-grow2 {
    display: flex;
    color: rgb(85, 252, 85);
    flex-grow: 6;
  }

  @keyframes eee {
    0% {
      color: rgb(85, 252, 85);
    }

    50% {
      color: rgb(85, 252, 85);
    }

    100% {
      color: rgb(85, 252, 85);
    }
  }

  .a-href {
    position: relative;
    margin-left: 20px;
  }

  .a-href::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: cyan;
    transition: 0.3s;
  }

  .a-href:hover::after {
    width: 100%;
  }

  table {
    background: black;
  }

  .contact {
    text-align: center;
    padding: 80px 20px;
  }

  .contact-info {
    margin: 20px 0;
  }

  .contact-info p {
    font-size: 18px;
    margin: 10px 0;
    color: rgb(85, 252, 85);
  }

  .tab {
    margin: auto;
    margin-top: 20px;
  }

  .tab th {
    padding: 15px 30px;
    border: 1px solid cyan;
    color: rgb(85, 252, 85);
    font-size: 18px;
    transition: 0.3s;
  }

  .tab th:hover {
    background: rgb(47, 0, 255);
    color: rgb(85, 252, 85);
    transform: scale(1.05);
    font-family: 'Courier New', Courier, monospace;
  }

  .img-grid {
    display: flex;
    gap: 20px;
  }

  .img-grid div {
    border-radius: 12px;
  }

  th {
    transition: 0.3s;
  }

  body {
    margin: 0;
    font-family: sans-serif;
  }

  .title {
    text-align: center;
    margin: 40px 0;
    font-size: 28px;
    color: #22c55e;
  }

  .timeline {
    position: relative;
    width: 100%;
    padding: 50px 0;
  }

  .timeline::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 4px;
    height: 104%;
    background: #22c55e;
    transform: translateX(-50%);
    box-shadow: 0 0 10px #22c55e, 0 0 30px #22c55e;
  }
  .oila{
    padding-left: 20px;
  }
  .oila img{
    width: 250px;
    height: 400px;
    border: solid white;
    background-color: black;
  }

  .card {
    background-color: rgb(105, 131, 131);
    width: 400px;
    margin-left: 10px;
    margin-right: 10px;
    height: 350px;
    position: relative;
  }

  .card img {
    justify-content: center;
    width: 300px;
    height: 250px;
    object-fit: cover;
    padding: 10px;
    border-radius: 12px;
    transition: 0.3s;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
  }

  .card:hover img {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgb(46, 210, 57);
  }

  .left {
    left: 13%;
    text-align: center;
  }

  .right {
    left: 60%;
    text-align: center;
  }

  .child-div1 {
    width: 500px;
    height: 350px;

  }

  .child-div::after {
    transform: translateY(0deg);
    height: 600px;
    color: rgb(85, 252, 85);
  }

  .line {
    width: 4px;
    height: 100vh;
    position: fixed;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background: #22c55e;
    box-shadow: 0 0 10px #22c55e, 0 0 30px #22c55e;
  }

  .child-div7,
  .child-div8,
  .child-div9 {
    right: 0%;
    justify-content: right;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div {
    transition: 0.3s;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  div:hover {
    color: rgb(141, 250, 101);
  }

  img {
    border: rgb(111, 228, 125);
    display: block;
    /*margin: auto;*/
    padding: 10px;
    margin: 30px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .logo h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-style: 16px;
    color: rgb(111, 228, 125);
  }

  .nav-item {
    gap: 40px;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .nav-items li {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600px;
    font-size: 18px;
    list-style: none;
    margin-left: 100px;
  }

  .active {
    color: rgb(111, 228, 125);
  }

  .www {
    display: flex;
  }

  @keyframes rang {
    0% {
      background-color: #0F172A;
    }

    10% {
      background-color: #FFF8E7;
    }

    20% {
      background-color: #0F172A;
    }

    30% {
      background-color: #FFF8E7;
    }

    40% {
      background-color: #0F172A;
    }

    90% {
      background-color: #FFF8E7;
    }

    100% {
      background-color: #0F172A;
    }
  }

  .noactive {
    justify-content: center;
    align-content: center;
  }

  .div-fot-img {
    width: 200px;
    color: cyan;
    animation: sam 9s linear infinite;
    position: absolute;
  }

  .div-fot-left {
    width: 200px;
    color: cyan;
    animation: sam 9s linear infinite;
    position: absolute;
    right: 0%;
    justify-content: end;
  }

  @keyframes sam {
    0% {
      transform: translateY(-500px) translateX(-45deg) rotate(-40deg) scale(1);
    }

    25% {
      transform: translateY(-1000px) scale(0.7);
    }

    50% {
      transform: translateY(-2000px) translateX(90deg) rotate(-40deg) scale(0.6);
    }

    75% {
      transform: translateY(-5000px) scale(0.7);
    }

    90% {
      transform: translateY(-7000px) scale(0.9);
    }

    100% {
      transform: translateY(-9000px) scale(1);
    }
  }

  .footer {
    bottom: 0;
    width: 100%;
    padding: 20px;
    text-align: center;

    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);

    border-top: 1px solid rgba(255, 215, 0, 0.3);

    color: white;

  }

  .footer h2 {
    color: gold;
    letter-spacing: 3px;
  }

  #toggle-theme {
    display: none;
  }

  #toggle-theme:checked~.theme {
    background-color: darkblue;
    color: rgb(255, 255, 255);
  }

  .theme {
    transition: 0.3s;
  }

  .box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 400px;
    height: 500px;
    background: rgb(141, 255, 100);
    border-radius: 30%;
    margin: 20px;
    padding: 40px;

  }

  .img1 {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin: 20px;
    padding-bottom: 20%;
  }
   
  .p-img {
    position: absolute;
    left: -25%;
    top: 50%;
  }
  .font{
    font-size: 60px;
  }
  .font2{
    font-size: 20px;
  }
  .font3{
    font-size: 40px;
  }